[submodule "dependencies/windows_system_error"]
	path = dependencies/windows_system_error
	url = https://github.com/mjptree/windows_system_error
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "dependencies/GSL"]
	path = dependencies/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
